@charset "UTF-8";
/** base layout **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-lg-block {
  display: block !important;
}

.order-lg-2 {
  -ms-flex-order: 2;
  order: 2;
}

.leading-none {
  line-height: 1 !important;
}

.nav-item {
  padding: 0 0.75rem;
  min-width: 2rem;
  transition: 0.3s color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: -ms-flexbox;
  /*display: flex;*/
  -ms-flex-align: center;
  align-items: center;
}

.hidden {
  display: none;
}

.clear-b {
  clear: both;
}

.manuscript-sidebar[data-visible=false] {
  display: none !important;
}

.manuscript-sidebar[data-visible=true] {
  display: block !important;
}

.col-pct-33 {
  margin-left: 33.33333%;
  margin-top: 10px;
}

label:focus,
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none !important;
}

label, input, a, button, textarea {
  outline: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover {
  outline: none !important;
}

.btn-custom {
  background-color: #00cbca;
  color: #fff;
}

/* 消息弹框 */
.alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  max-width: 600px;
  transform: translate(-50%, -50%);
  z-index: 99999;
  text-align: center;
  padding: 15px;
  border-radius: 3px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.main-sidebar .sidebar .nav-list {
  background-color: #26303b;
}

.main-sidebar .sidebar .nav-list > li > a {
  color: #999;
}

.nav > li > a {
  color: #fff;
}

#nav-list {
  background-color: #26303b;
}

#nav-list > li > a {
  color: #999 !important;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: unset !important;
  background-color: #374554;
}

.nav-pills > li > a {
  border-radius: 0px !important;
}

.hide {
  display: none !important;
}

.no-border {
  border: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-shadow {
  box-shadow: none !important;
}
